/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 7rem 1rem 4rem 1rem;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroButton {
  border-width: 3px;
  color: white !important;
}
.heroButton:hover {
  color: var(--ifm-color-primary) !important;
}

.centerVertically {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.callToActionText {
  font-size: 1.4rem;
  text-align: center;
}

.tagline {
  font-weight: normal;
  font-size: 3.5rem;
  margin-right: 2rem;
  margin-left: 2rem;
  text-align: left;
}

.centerVertically.taglineContainer {
  align-items: flex-start;
}

.logo {
  margin: 3rem;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 4rem 1rem;
  }

  .reverseFlexOnMobile {
    flex-direction: column-reverse;
  }

  .logo {
    margin: 2rem 1rem;
    max-width: max(20rem, 70%);
  }

  .callToActionText {
    font-size: 1.2rem;
  }

  .tagline {
    margin-right: unset;
    margin-left: unset;
    text-align: unset;
    font-size: 2rem;
  }

  .centerVertically.taglineContainer {
    align-items: center;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
