<DOCTYPE html />
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<style>
  html {
    -webkit-print-color-adjust: exact;
  }

  @page {
    size: A4 portrait;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .no-break-inside {
    page-break-inside: avoid;
  }

  /* TODO no-break-after doesn't work on day titles, we have to solve that */
  .no-break-after {
    page-break-after: avoid;
    display: inline-block;
  }
</style>
<body>

<div class="container">

  <!-- HEADER -->
  <h2 class="font-weight-bold">{{projectName}}</h2>
<h5>{{#i18n "sessions:pdf.planning"}}{{/i18n}}</h5>
  <h3>{{#if user}}{{user.firstName}} {{user.lastName}} – {{user.email}}{{/if}}
    {{#if steward}}{{#if user}}<br/>{{/if}}Encadrant⋅e {{steward.firstName}} {{steward.lastName}}{{/if}}</h3>

  <div style="margin-top: 20px">{{currentExportDate}}</div>

  <hr />
  <div class="mt-3 mb-3">
    <h5 class="mb-3 mr-3 d-inline font-weight-bold">Légende: </h5>
    <span class="rounded p-2 mr-3" style="border: 5px solid gray">
      {{#i18n "sessions:pdf.explanationVolunteering"}}{{/i18n}}
    </span>
    {{#if steward}}
      <span class="rounded p-2" style="background: rgba(0, 0, 255, 0.10)">
        {{#i18n "sessions:pdf.explanationStewarding"}}{{/i18n}}
      </span>
    {{/if}}
    <div style="margin-top: 20px">
      <i class="fas fa-user" style="min-width: 30px"></i>Encadrant⋅es
      <i class="fas fa-map-marker-alt" style="min-width: 30px; margin-left: 30px"></i>Lieu
      {{#if hasRoleOrSteward}}
      <i class="fas fa-user-friends" style="min-width: 30px; margin-left: 30px"></i>Participant⋅es
      {{/if}}
    </div>
  </div>
  <hr />

  <!-- PLANNING -->
  {{#each day}}

    <!-- DAY TITLE -->
    <div class="no-break-after">
      <h3 class="text-capitalize font-weight-bold mt-4 mt-2">{{dayName}}</h3>
    </div>

    <!-- SLOTS FOR THE DAY -->
    {{#each slot}}

      <div class="no-break-inside">
        <div class="card my-3" style="
          {{#if isStewardOnThisSession}}background: rgba(0, 0, 255, 0.10);{{/if}}
          {{#if isVolunteering}}border: 5px solid {{session.activity.category.color}};{{/if}}">
          <!-- category color dot -->
          <div style="
            height: 30pt; width: 30pt; border-radius: 50%; border: 10px solid white;
            background-color: {{this.session.activity.category.color}};
            position: absolute; left: -22px; top: 14px;
            "></div>

          <div class="card-body">
            <!-- HEADLINE -->

            <!-- slot time -->
            <h5 class="d-inline m-2">{{startFormatted}} – {{endFormatted}}</h5>

            <!-- activity name and category -->
              <!-- name -->
              <h5 class="d-inline font-weight-bold">{{title}}</h5>

              <!-- category badge -->
            {{#with session.activity}}
              <span class="d-inline badge" style="
                border-color: {{category.color}};
                color: {{category.color}};
                background: white;">
                <span class="d-inline-block text-truncate" style="max-width: 250px">
                  {{category.name}}
                </span>
              </span>
            {{/with}}


            <!-- SLOT STEWARDS AND PLACES -->
            <div class="mt-3">
              <i class="fas fa-user" style="min-width: 30px"></i>
              {{#if isStewardOnThisSession}}<strong>Vous</strong>{{#if hasMultipleStewards}}, {{/if}}{{/if}}{{stewardsString}}
            </div>

            <div class="mt-1">
              <i class="fas fa-map-marker-alt" style="min-width: 30px"></i>
              {{placesString}}
            </div>

            <!-- SLOT PEOPLE -->
            {{#if participants}}
              <div class="mt-1">
                <i class="fas fa-user-friends" style="min-width: 30px"></i>
                {{#each participants}}
                  {{this}}
                  </br>
                {{/each}}
              </div>
            {{/if}}
          </div>
        </div>
      </div>

    {{/each}}

  {{/each}}

</div>

</body>
</html>