/********* HEADERS ********/
.header-space-between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.list-element-header {
  padding-bottom: 10pt;
  padding-top: 10pt;
}

.sticky-navbar {
  position: sticky;
  top: 0;
  z-index: 50;
  background: white;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out,
    -moz-box-shadow 0.3s ease-in-out;
}

.sticking-shadow-top {
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.1), 0 10px 10px 9px rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.1), 0 10px 10px 9px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.1), 0 10px 10px 9px rgba(0, 0, 0, 0.04);
}

.sticking-shadow-bottom {
  box-shadow: 0 -2px 5px 2px rgba(0, 0, 0, 0.1), 0 10px 10px 9px rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: 0 -2px 5px 2px rgba(0, 0, 0, 0.1), 0 10px 10px 9px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0 -2px 5px 2px rgba(0, 0, 0, 0.1), 0 10px 10px 9px rgba(0, 0, 0, 0.04);
}

@media only screen and (max-width: 767px) {
  .with-margins {
    padding-left: 15pt;
    padding-right: 15pt;
  }

  .list-page-header {
    padding: 17pt 15pt 10pt 15pt;
  }

  .edit-page-header {
    padding-bottom: 10pt;
  }

  .tabs-page-header {
    padding-bottom: 5pt;
  }

  .Layout-timeScaleContainer {
    width: 50px !important;
  }
}

@media only screen and (min-width: 768px) {
  .with-margins {
    padding-left: 25pt;
    padding-right: 25pt;
  }

  .list-page-header {
    padding: 25pt;
  }

  .edit-page-header {
    padding-bottom: 20pt;
  }

  .tabs-page-header {
    padding-bottom: 10pt;
  }
}

.containerH {
  display: flex;
  /* justify-content: flex-start;*/
  align-items: stretch;
  overflow: hidden;
  flex-direction: row;
}

.containerV {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* overflow-x: hidden; */
}

.containerV > .containerV {
  flex-grow: 1;
  flex-shrink: 1;
}

.containerV > .containerH {
  overflow: visible;
}

.buttons-container {
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: baseline;
  margin: -4pt;
}

.containerH.buttons-container > *,
.containerV.buttons-container > * {
  margin: 4pt;
  flex-grow: 1;
}

/*** Grids ***/
.container-grid {
  display: grid;
  grid-row-gap: 8pt;
  padding-bottom: 4pt;
  padding-top: 4pt;
}

/* nested container grids should not have paddding */
.container-grid .container-grid,
.container-grid .container-grid .container-grid {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.scroll-container {
  overflow-y: auto;
  scroll-behavior: smooth;
}

@media screen and (max-width: 949px) {
  .container-grid.two-per-row,
  .container-grid.three-per-row {
    grid-template-columns: repeat(1, 1fr);
  }

  .container-grid.two-thirds-one-third {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 950px) and (max-width: 1499px) {
  .container-grid {
    grid-column-gap: 16pt;
  }

  .container-grid.two-per-row,
  .container-grid.three-per-row {
    grid-template-columns: repeat(2, 1fr);
  }

  .container-grid.two-thirds-one-third {
    grid-template-columns: auto calc(33% - 8pt);
  }

  /* expand the last child if it is alone on its own line */
  .container-grid.two-per-row > *:last-child:nth-child(2n + 1),
  .container-grid.three-per-row > *:last-child:nth-child(2n + 1),
  .container-grid.two-thirds-one-third > *:last-child:nth-child(2n + 1) {
    grid-column: 1 / 3;
  }
}

@media screen and (min-width: 1500px) {
  .container-grid {
    grid-column-gap: 32pt;
  }

  .container-grid.two-per-row {
    grid-template-columns: repeat(2, 1fr);
  }

  .container-grid.three-per-row {
    grid-template-columns: repeat(3, 1fr);
  }

  .container-grid.two-thirds-one-third {
    grid-template-columns: auto calc(33% - 16pt);
  }

  /* expand the last child if it is alone on its own line */
  .container-grid.two-per-row > *:last-child:nth-child(2n + 1) {
    grid-column: 1 / 3;
  }

  .container-grid.three-per-row > *:last-child:nth-child(3n + 1) {
    grid-column: 1 / 4;
  }
}

/*** printing ***/

@media print {
  .scrollable {
    overflow-y: visible !important;
    overflow-x: visible !important;
  }

  .containerH {
    overflow: hidden !important;
  }
}

.scrollable {
  overflow-y: auto !important;
  overflow-x: auto !important;
}

.mobile-navbar-container {
  line-height: unset !important;
  height: 50px !important;
  z-index: 101;
}

/*** Containers ***/
@media only screen and (max-width: 767px) {
  .page-content {
    margin: 0 15pt;
  }

  .modal-page-content {
    margin: 0 8pt;
  }

  .page-container {
    padding: 17pt 0;
  }

  .page-container.no-bottom-padding {
    padding: 17pt 0 0 0;
  }

  .full-width-content {
    margin-right: -15pt;
    margin-left: -15pt;
  }

  .mobile-navbar-container {
    padding: 0 30pt;
  }

  .navbar-menu-button {
    position: fixed;
    top: 5px;
    left: 5px;
    z-index: 102;
  }

  .ant-layout-sider {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .page-content {
    margin: 0 25pt;
  }

  .modal-page-content {
    margin: 0 15pt;
  }

  .page-container {
    padding: 25pt 0;
  }

  .page-container.no-bottom-padding {
    padding: 25pt 0 0 0;
  }

  .full-width-content {
    margin-right: -25pt;
    margin-left: -25pt;
  }

  .navbar-menu-button {
    display: none;
  }

  .mobile-navbar-container,
  .mobile-sidebar-drawer {
    display: none;
  }
}

/*** allow text to be put on more lines ***/
.appointment-text-wrap > div > div > div {
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* opacity on hover */
.max-opacity-on-hover:hover {
  opacity: 1 !important;
}

/********* Quill Editor stuff *********/

/* remove font size et to 13px instead of 14px */
.ql-container {
  font-size: unset;
}

/* toolbar */
.ql-toolbar.ql-snow {
  border-color: #d9d9d9;
  border-radius: 17px;
  opacity: 0;
  max-height: 0;
  padding: 0;
  margin: 0;
  transition: all 0.3s, height 1s;
}

/* show full opacity for the toolbar when in focus */
.quill:focus-within .ql-toolbar.ql-snow {
  max-height: 200px;
  padding: 4px 6px;
  margin: 3px 3px 6px 3px;
  opacity: 1;
}

/* toolbar buttons hover color */
.ql-snow.ql-toolbar button:hover,
.ql-snow .ql-toolbar button:hover,
.ql-snow.ql-toolbar button:focus,
.ql-snow .ql-toolbar button:focus,
.ql-snow.ql-toolbar button.ql-active,
.ql-snow .ql-toolbar button.ql-active,
.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow .ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-snow .ql-toolbar .ql-picker-label.ql-active,
.ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow .ql-toolbar .ql-picker-item:hover,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
  color: #5f98ed !important;
}

/* no border for the box container */
.ql-container.ql-snow {
  border: none;
}

/* same padding as all other AntDesign fields when editable, otherwise no padding at all */
.ql-editor {
  padding: 4px 11px;
}

.ql-editor.ql-editor-readonly {
  padding: 0;
}

/* placeholder */
.quill > .ql-container > .ql-editor.ql-blank::before {
  color: #bfbfbf;
  left: 11px; /* padding for placeholder */
  font-style: unset;
}

/* border radius around the whole editor (see also borders in ant.css) */
.quill {
  border-radius: 5px;
}

/* in readonly mode, cut the last element bottom margin that is useless */
.ql-editor-readonly > *:last-child {
  margin-bottom: 0;
}

/*** When printing an image of NOÉ, tell to print everything, including background graphic, etc. ***/
* {
  -webkit-print-color-adjust: exact;
}
